* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: collapse;
}

html{
    font: 24px/1;
    font-family: 'Open Sans', sans-serif;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: none;
    padding: 0;
    background: none;
}

a{
    text-decoration: none;
}

p{
    font-size: 1rem;
}

img{
    max-width: 100vw;
}

ul{
    list-style-type: none;
}

ul li{
    font-size: 1rem;
}

.hidden{
    display: none;
}

.visible{
    display: inherit;
}

.stayHidden{
    display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	min-height: 100vh;
}

.container{
    padding-top: 100px;
    background-color: var(--lite-orange);
    width: auto;
}

.container article{
    position: relative;
    width: 90vw;
}

.grid-outer{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid-outer > div{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
