footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
    height: 1.62rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
}

footer small{
    color: var(--white);
}

footer a{
    color: var(--white);
}