:root {
    --classic: #ffcb82;
    --dark: #312717;
    --bubblegum: deeppink;
    --red: #4d3333;
    --blue: #282a47;
    --green: #60704b;
    --orange: deeppink;
    --yellow: darkblue;
    --lite-orange: #e5eced;
    --pink: floralwhite;
    --white: violet;
    --black: #1b1817;
    --grey: lightpink;
    --darker: #0000002a;
    --darkerer: #00000070;
    color: #0d082a;
}