:root{
    /* theme buttons */
    --classic: #ffcb82;
    --dark: #312717;
    
    --red: #4d3333;
	--blue: #282a47   ;
	--green: #38422b  ;
    --orange: #312717;
    --yellow: #1e1b12;
    --lite-orange: #635c4d;
	--pink: #694f4e;
    --white: #8e8e8e;
    --black: #000000; 
    --grey: #3d3a39;
    --darker: #0000002a;
    --darkerer: #00000070;

    color: #eeeeee;
}